body{

background:#f4f6f9;

font-family:
"Segoe UI",
Arial;

}



.sidebar{

width:250px;

min-height:100vh;

background:#1f2937;

padding-top:20px;

}



.sidebar a{

display:block;

color:white;

padding:15px 25px;

text-decoration:none;

}



.sidebar a:hover{

background:#374151;

}



.content{

flex:1;

padding:30px;

}



.card{

border:none;

border-radius:15px;

box-shadow:
0 4px 10px rgba(0,0,0,0.1);

}



.navbar{

height:65px;

}
